{% extends 'template.html' %}

{% load static %}


{% block links %}<link href="{% static 'cart/css/styles.css' %}" rel="stylesheet" />{% endblock %}

{% block section %}
<section>
      <tr class="total">
        <td>Всего</td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
  <p class="text-right">
    <a href="/" class="button light">В магазин</a>
  </p>
      {% for prod_id, prod in cart.list_products.items %}
        <div>
            <h2>{{ prod_id }}</h2>
            {% for key, value in prod.items %}
        <h3>{{ key }}:{{ value }}</h3>
          </div>
            {% endfor %}
        <a class="btn btn-outline-dark" href="remove/{{ prod_id}}">Remove</a>
      {% endfor %}

</section>
{% endblock %}


